---

layout: design_patterns_overview
productName: Design Patterns
title:	Site map
section: About

---


<%
pattern_root = "/design-patterns/patterns/" 
status_order = ["Backlog", "Alpha", "Beta", "Approved"]

# Get all the patterns
# Sort them by title

design_patterns = sitemap.resources													
	.select { |r|		
    	r.data.section &&
    	r.data.section != "About" &&
		r.url.start_with?(pattern_root)						
	}
	.sort_by { |r| r.data.title }
%>



<!-- <div class="stats">
	<div class="stat">
		<div>
			<span class="stat-number"><%= design_patterns.length %></span>
			<span class="stat-name">Patterns</span>
		</div>
	</div>
	<div class="stat">&nbsp;</div>
	<%
	design_patterns_by_status = design_patterns.group_by { |r| r.data.status }

	design_patterns_by_status_ordered = design_patterns_by_status.keys.sort_by do |r|
	  status_order.index(r) || Float::INFINITY
	end

	design_patterns_by_status_ordered.each do |status|
  		arr = design_patterns_by_status[status]		
	%>

	<div class="stat">
		<div>
			<span class="stat-number"><%= arr.size %></span>
			<span class="stat-name"><%= status %></span>
		</div>
	</div>

	<% end %>
</div> -->


<h1>GOV.UK Design Contents</h1>

<br>

<table class="patterns-table">
	<tr>
		<th style="width: 35%;">Title</th>
		<th>Section</th>
		<th>Priority</th>
		<th>Department</th>
		<th>Status</th>
	</tr>
<%			
design_patterns.each do |res| 
%>	 
	<tr>
		<td><%= link_to res.data.title, res.url %></td>
		<td><%= res.data.section %></td>
		<td><%= res.data.priority %></td>
		<td><%= res.data.department %></td>
			
		<td>
		<% if res.data.status&.downcase == "backlog" %>
			<%= res.data.status %>
		<% end %>
		</td>

	</tr>
<% end %>
</table>
