<% content_for :service_title do %>
  Design Patterns
<% end %>

<% content_for :service_link, '/design-patterns' %>

<% content_for :header_links do %>
  <%= partial 'layouts/design-patterns/header_links' %> 
<% end %>

<% content_for :sidebar do %>
 <%= partial 'layouts/design-patterns/nav' %>
<% end %>

<% content_for :subnav do %>
  <%= partial 'layouts/design-patterns/sub-nav' %>
<% end %>

<% wrap_layout :docs do %>

  <div class="pattern-header">
    <p class="section-heading"><%= section %></p>
    <h1><%= title %><span class="status"><%= status %></span></h1>

    <div class="tabs-multi-page">
      <div class="tab"><a href="<%= url %>">Guide</a></div>
      <div class="tab"><a href="<%= url %>code.html">Code</a></div>
      <div class="tab current"><a href="<%= url %>discussion.html">Discussion</a></div>
    </div>
  </div>

  <p>You can discuss this pattern on the Hackpad below.</p>

  <p>
    Please note that this is not formal Cabinet Office guidance. <br>
    All views expressed are those of the individual contributors. 
  </p>

  <div class="hackpad">
    <script src="<%= discuss %>.js"></script><noscript><div>View <a href="<%= discuss %>">Tables</a> on Hackpad.</div></noscript>
  </div> 

<% end %>
