<% content_for :service_title do %>
  Design System
<% end %>

<% content_for :service_link, '/design-patterns/patterns' %>

<% content_for :header_links do %>
  <%= partial 'layouts/design-patterns/header_links' %>
<% end %>

<% content_for :sidebar do %>
 <%= partial 'layouts/design-patterns/nav' %>
<% end %>

<% content_for :subnav do %>
  <%= partial 'layouts/design-patterns/sub-nav' %>
<% end %>

<% content_for :mobile_nav do %>
  <%= partial 'layouts/design-patterns/mobile-nav' %>
<% end %>

<% wrap_layout :docs do %>
   

<div class="grid-row">
  <div class="column-full">

        <% if current_page.data.copy&.downcase != 'done' %>
          <div class="banner banner__out-of-date">
            <p><strong>Out of date:</strong> This content has not yet been written using the Design System content guidelines</p>
          </div>
        <% end %>

        <div class="pattern-header">
        <% if section_uses_themes?(current_section) %>
          <p class="section-heading"><%= theme_for_current_pattern %></p>
        <% else %>
          <p class="section-heading"><%= current_section %></p>
        <% end %>
        <h1><%= current_page.data.title %><% if current_page.data.status %><a href="/design-patterns/patterns/overview/pattern_status/#<%= current_page.data.status.downcase %>"><span class="status"><%= current_page.data.status %></span></a><% end %></h1>

      </div>

    <%= yield %>



    <div class="related-content">

      <div class="grid-row">
        <% if current_page.data.related? %>
          <div class="column-one-quarter related-content-grid-item">
                <h2>Related patterns</h2>
                <ul class="list">
                  <% current_page.data.related.each do |related| %>
                  <li><a href="/design-patterns/patterns/components/<%= related.downcase.strip.gsub(' ', '-').gsub(/[^\w-]/, '') %>"><%= related %></a></li>
                  <% end %>
                </ul>
          </div>
        <% end %>  
        
        <% if current_section.downcase == 'components' %>
          <% if current_page.data.similar? %>
          <div class="column-one-quarter related-content-grid-item">
                
                  <h2>Similar components</h2>
                  <ul class="list">
                    <% current_page.data.similar.each do |similar| %>
                    <li><a href="/design-patterns/patterns/components/<%= similar.downcase.strip.gsub(' ', '-').gsub(/[^\w-]/, '') %>"><%= similar %></a></li>
                    <% end %>
                  </ul>
          </div>

          <% end %>
        <% end %>
          
        <% if current_section.downcase == 'patterns' %><% if current_page.data.uses? %>
          <div class="column-one-quarter related-content-grid-item">
              
                <h2>Uses components</h2>
                <ul class="list">
                  <% current_page.data.uses.each do |uses| %>
                  <li><a href="/design-patterns/patterns/components/<%= uses.downcase.strip.gsub(' ', '-').gsub(/[^\w-]/, '') %>"><%= uses %></a></li>
                  <% end %>
                </ul>
              
          </div>                          
        <% end %> <% end %> 

        <div class="column-one-quarter related-content-grid-item">
              <h2>Further resources</h2>
              <ul class="list">
                <% if current_page.data.seprepo? %>
                  <li><a href=""><%= current_page.data.title %> repository on GitHub</a></li>
                <% end %>
                <li><a href="">Edit this page</a></li>
                <li><a href="">Current Issues</a></li>
                <li><a href="">History of this page</a></li>
              </ul>
        </div>

        <div class="column-one-quarter related-content-grid-item">


              <dl class="meta-data-bottom">
                <% if current_page.data.aliases? %>  
                <dt>Also known as:</dt>
                <dd><%= current_page.data.aliases %></dd>
                <% end %>
                <dt>Last reviewed:</dt>
                <dd><% if current_page.data.date %> <%= current_page.data.date %> <% else %>30 March 2017<% end %></dd>
                
              </dl>   
        </div>
      </div>
    
    </div>

    <div class="callout">
        <h2 class="heading-medium">Get in touch</h2>
        <p>If you’ve got a question, idea or suggestion share it in <%= link_to '#govuk-design-system', slack_link %> on cross-government Slack (<%= link_to 'open in app', slack_app_link %>) or <a href="#">email the Design System team</a></p>
    </div> 




  </div>


</div>    


<% end %>
