<% content_for :service_title do %>
  Design Patterns
<% end %>

<% content_for :service_link, '/design-patterns' %>

<% content_for :header_links do %>
  <%= partial 'layouts/design-patterns/header_links' %> 
<% end %>

<% content_for :sidebar do %>
 <%= partial 'layouts/design-patterns/nav' %>
<% end %>

<% wrap_layout :docs do %>
  <p class="section-heading"><%= current_page.data.section %></p>
  <h1><%= current_page.data.title %></h1>

  <%= yield %>
<% end %>
