<% content_for :service_title do %>
  Design Patterns
<% end %>

<% content_for :service_link, '/design-patterns' %>

<% content_for :header_links do %>
  <%= partial 'layouts/design-patterns/header_links' %> 
<% end %>

<% content_for :sidebar do %>
 <%= partial 'layouts/design-patterns/nav' %>
<% end %>

<% wrap_layout :docs do %>
  <div class="pattern-header">
    <p class="section-heading"><%= current_page.data.section %></p>
    <h1><%= current_page.data.title %><a href="/design-patterns/contribute"><span class="status"><%= current_page.data.status %></span></a></h1>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">
      <div class="govuk-metadata">
        <dl>
          <dt>Last edited:</dt>
          <dd>15/03/2017</dd>                      
          <dt>Edit on:</dt>
          <dd><a href="<%= current_page.data.edit %>">Github</a></dd>
        </dl>
      </div>
    </div>
  </div>

  <div class="tabs-multi-page">
    <div class="tab current"><a href="<%= current_page.url %>">Guide</a></div>
    <div class="tab"><a href="<%= current_page.url %>code.html">Code</a></div>
    <div class="tab"><a href="<%= current_page.url %>discussion.html">Discussion</a></div>
  </div>

  <%= yield %>

  <% if current_page.data.discuss %>
    <p class="font-bold"><a href="<%= current_page.url %>discussion.html">Discuss this pattern on Hackpad</a></p>
  <% end %>

<% end %>
