<% content_for :service_title do %>
  Design
<% end %>

<% content_for :service_link, '/design-patterns/patterns' %>

<% content_for :header_links do %>
  <%= partial 'layouts/design-patterns/header_links' %>
<% end %>

<% content_for :sidebar do %>
 <%= partial 'layouts/design-patterns/nav' %>
<% end %>

<% content_for :subnav do %>
  <%= partial 'layouts/design-patterns/sub-nav' %>
<% end %>

<% wrap_layout :docs do %>
  <div class="pattern-header">
    <% if config[:use_theme_in_nav] && current_page.data.theme? %>
      <p class="section-heading"><%= current_page.data.theme %></p>

    <% else %>
      <p class="section-heading"><%= current_page.data.section %></p>
    <% end %>
    <h1><%= current_page.data.title %><a href="/design-patterns/patterns/overview/pattern_status/#<%= current_page.data.status.downcase %>"><span class="status"><%= current_page.data.status %></span></a></h1>
  </div>



  <div class="grid-row">
    <div class="column-two-thirds">
      <div class="govuk-metadata">
        <dl>
          <dt>Last reviewed:</dt>
          <dd><% if current_page.data.date %> <%= current_page.data.date %> <% else %>30 March 2017<% end %></dd>
        <% if current_page.file_descriptor&.normalized_relative_path %>
          <dt>Edit this page on:</dt>
          <dd><a href="https://github.com/alphagov/govuk_design_prototypes/edit/master/source/<%= current_page.file_descriptor.normalized_relative_path %>">Github</a></dd>
          <dt>View history on:</dt>
          <dd><a href="https://github.com/alphagov/govuk_design_prototypes/commits/master/source/<%= current_page.file_descriptor.normalized_relative_path %>">GitHub</a> (<a href="https://github.com/alphagov/govuk_design_prototypes/commits/master/source/<%= current_page.file_descriptor.normalized_relative_path %>.atom">feed</a>)</dd>
        <% end %>
        </dl>
      </div>
    </div>
  </div>

  <%= yield %>

  <% if current_page.data.has_key? 'discuss' %>

  <hr />

  
    <a href="https://paper.dropbox.com/doc/GOV.UK-Design-Patterns-Wiki-hkou7bpzKya8Dadv24V1z">Discuss ‘<%= current_page.data.title %>’ on Dropbox Paper</a>

    
  <% end %>

<% end %>
