<% content_for :service_title do %>
  Design System
<% end %>

<% content_for :service_link, '/design-patterns/patterns' %>

<% content_for :header_links do %>
  <%= partial 'layouts/design-patterns/header_links' %>
<% end %>

<% content_for :sidebar do %>
 <%= partial 'layouts/design-patterns/nav' %>
<% end %>

<% content_for :subnav do %>
  <%= partial 'layouts/design-patterns/sub-nav' %>
<% end %>

<% wrap_layout :docs do %>
  <div class="pattern-header">
    <% if config[:use_theme_in_nav] && current_page.data.theme? %>
      <p class="section-heading"><%= current_page.data.theme %></p>

    <% else %>
      <p class="section-heading"><%= current_page.data.section %></p>
    <% end %>
    <h1><%= current_page.data.title %><a href="/design-patterns/patterns/overview/pattern_status/#<%= current_page.data.status.downcase %>"><span class="status"><%= current_page.data.status %></span></a></h1>
  </div>



  <div class="grid-row">
    <div class="column-two-thirds">
      <div class="govuk-metadata">
        <dl>
          <dt>Last reviewed:</dt>
          <dd><% if current_page.data.edit %> <%= current_page.data.edit %> <% else %>30 March 2017<% end %></dd>                      
          <dt>Edit this page on:</dt>
          <dd><a href="<%= current_page.data.edit %>">Github</a></dd>
        </dl>
      </div>
    </div>
  </div>

  <%= yield %>

  <% if current_page.data.has_key? 'discuss' %>

  <hr />

  <details id="hackpad">
    <summary><span class="summary">Discuss ‘<%= current_page.data.title %>’ on Dropbox Paper</a></summary>

    <div>

      <p>You can discuss this pattern on the Dropbox Paper below.</p>

      <p>
        Please note that this is not formal Cabinet Office guidance. <br>
        All views expressed are those of the individual contributors.
      </p>


      <iframe class="hackpad" src="https://paper.dropbox.com/doc/Accordions-4lnTjyNru2mN1XXjA1Xf3" width="100%" height="100%" scrolling="no"></iframe>

    </div>
  </details>
  <% end %>

<% end %>
