<% content_for :service_title do %>
  Design Patterns
<% end %>

<% content_for :service_link, '/design-patterns' %>

<% content_for :header_links do %>
  <%= partial 'layouts/design-patterns/header_links' %> 
<% end %>

<% content_for :sidebar do %>
 <%= partial 'layouts/design-patterns/nav' %>
<% end %>

<% content_for :subnav do %>
  <%= partial 'layouts/design-patterns/sub-nav' %>
<% end %>

<% wrap_layout :docs do %>
  <div class="pattern-header">
    <p class="section-heading"><%= current_page.data.section %></p>
    <h1><%= current_page.data.title %><a href="/design-patterns/patterns/overview/pattern_status/"><span class="status"><%= current_page.data.status %></span></a></h1>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">
      <div class="govuk-metadata">
        <dl>
          <dt>Last reviewed:</dt>
          <dd>30 March 2017</dd>                      
          <dt>Edit on:</dt>
          <dd><a href="<%= current_page.data.edit %>">Github</a></dd>
        </dl>
      </div>
    </div>
  </div>

  <%= yield %>

  <% if current_page.data.has_key? 'discuss' %>

  <hr />

  <details>
    <summary><span class="summary">Discuss on Hackpad</a></summary>

    <div>

      <p>You can discuss this pattern on the Hackpad below.</p>

      <p>
        Please note that this is not formal Cabinet Office guidance. <br>
        All views expressed are those of the individual contributors. 
      </p>

      <div class="hackpad">
        <script src="<%= current_page.data.discuss %>.js"></script><noscript><div>View <a href="<%= current_page.data.discuss %>">Tables</a> on Hackpad.</div></noscript>
      </div>
    </div>
  </details>
  <% end %>

<% end %>
