<!doctype html>
<html lang="en" class="no-js tech-docs">
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
    <meta name="robots" content="noindex">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "GOV.UK Documentation" %></title>

    <!--[if gt IE 8]><!--><%= stylesheet_link_tag :screen, media: 'screen' %><!--<![endif]-->
    <!--[if lte IE 8]><%= stylesheet_link_tag 'screen-old-ie', media: 'screen' %><![endif]-->

    <%= stylesheet_link_tag :print, media: 'print' %>
    <%= javascript_include_tag :application %>
  </head>

  <body>
    <div class="app-pane">
      <div class="app-pane__header toc-open-disabled">
        <a href="#content" class="skip-link">Skip to main content</a>

        <header class="header header--full-width">
          <%= partial 'layouts/header' %>
        </header>
        
        <%= yield_content :subnav %>

      </div>

      <%= yield_content :mobile_nav %>


      <div style="clear:left;" class="app-pane__body"<%= " data-module=\"#{yield_content(:toc_module)}\"" if content_for? :toc_module %>>
        <% if content_for? :sidebar %>
        <div class="app-pane__toc">
          <div class="toc" data-module="table-of-contents">
            <nav id="toc" class="js-toc-list toc__list">
              <%= yield_content :sidebar %>
            </nav>
          </div>
        </div>
        <% end %>

        <div class="app-pane__content toc-open-disabled">
                
        <%= yield_content :masthead %>    
      

          <main id="content" class="technical-documentation markdown" data-module="anchored-headings">
            <%= yield %>
          </main>

          <footer class="footer footer--full-width">
            <%= partial "layouts/footer" %>
          </footer>
        </div>
      </div>
    </div>
  </body>
</html>
