<%
currentSection = ''
if defined?(section)
  currentSection = section
end
if defined?(current_page.data.section)
  currentSection = current_page.data.section
end
%>
<ul>
  <% data.v3DesignPatterns.sections.each do |navSection| %>
  <li class="<% if currentSection == navSection.name %>current-section<% end %><% if defined?(current_page.data.section) && current_page.data.section == navSection.name %> current-page<% end %>">
    
    <% navSectionTitle = navSection.name.tr('_', ' ') %>

    <% if !defined?(navSection.pages) %>
      <a href="/v3/<%= navSection.name %>"<% if navSection.group %> class="group-heading"<% end %>><%= navSectionTitle %></a>
    <% else %>

      <a href="#<%= navSection.name %>"><%= navSectionTitle %></a>
      <ul>

      <% navSection.pages.each do |navPage| 

        navPageTitle = navPage.tr('_', ' ')
        navPageTitle = navPageTitle.capitalize!

      %>

      <li<% if defined?(page) && page == navPage %> class="current-page"<% end %>>
        <a href="/v3/<%= navSection.name %>/<%= navPage %>"><%= navPageTitle %></a>
      </li>

      <% end %>
      </ul>

    <% end %>

  <% end %>
  </li>
</ul>