---
layout: v2
title: GOV.UK Design System
---


<%	# Swap underscores for spaces
	pageTitle = page.tr('_', ' ')
	sectionTitle = section.tr('_', ' ')
	nav = data.v2nav
%>

<p class="section-heading"><%= sectionTitle %></p>
<h1><%= pageTitle %></h1>

<%= partial '/documentation/' + section + '/' + page rescue nil %>

<% 
	nextPage = ''
	nextSection = ''
	nextPageTitle = ''
	nextNav = true

	nav.sections.each_with_index do |navSection, index|


		if defined?(navSection.pages)
			currentPageIndex = navSection.pages.index(page)
		end

		if currentPageIndex

			# Last page in section
			if currentPageIndex + 1 == navSection.pages.length

				if data.nav.sections[index+1]
					nextSection = nav.sections[index+1].name
					if defined?(nav.sections[index+1].pages)
						nextPage = nav.sections[index+1].pages[0]
					end
				else
					nextNav = false
				end


			# Other pages
			else

				nextSection = navSection.name
				nextPage = navSection.pages[currentPageIndex+1]

			end

			nextPageTitle = nextPage.tr('_', ' ')
			nextPageTitle = nextPageTitle.capitalize

		end

	end
%>

<nav class="govuk-previous-and-next-navigation">
<ul class="group">

<% if nextNav %>	
  <li class="next-page">
    <a href="<%= '/v2/' + nextSection + '/' + nextPage %>" rel="next">
      <span class="pagination-part-title">Next</span>
      <span class="pagination-label"><%= nextPageTitle %></span>
    </a>
  </li>
<% end %>

</ul>
</nav>


