<div class="grid-row">

  <div class="column-two-thirds">

    <div class="govuk-metadata">
      <dl>
          <dt>Status:</dt>
          <dd><a href="../status/"><%= "#{status}" %></a></dd>
          <dt>Author:</dt>
          <dd><a href="<%= "#{departmentLink}" %>"><%= "#{department}" %></a></dd>
          <dt>Discuss on:</dt>
          <dd><a href="<%= "#{hackpadLink}" %>">Hackpad</a></dd>
          <dt>Edit on:</dt>
          <dd><a href="<%= "#{githubLink}" %>">Github</a></dd>
      </dl>
    </div>

  </div>

</div>
