---

layout: full_width
productName: Design Patterns
title:  Site map

---


<%
pattern_root = "/design-patterns/patterns/"
sections = ["About", "Visual styles", "Components", "Pages", "Patterns"]

# Get all the patterns
# Sort them by title

patterns_by_section = sitemap.resources
  .select do |r|
    r.data.section &&
    r.data.status != "Backlog" &&
    r.url.start_with?(pattern_root)
  end
  .sort_by { |r| r.data.title }
  .group_by { |r| r.data.section }
%>

<h1>GOV.UK Design System</h1>

<% sections.each do |section| %>
<h2><%= section %></h2>
<%
  if patterns_by_section[section].any? { |pattern| pattern.data.theme }
    patterns_by_theme = patterns_by_section[section].group_by { |r| r.data.theme || "Other" }
    %>

    <% patterns_by_theme.each do | theme, patterns | %>
      <h3 class="sitemap-theme"><%= theme %></h3>
      <ul>
        <% patterns.each do |pattern| %>
          <li><%= link_to pattern.data.title, pattern.url %><% if pattern.data.aliases %> <span class="aliases">&mdash; also known as <%= list_as_sentence pattern.data.aliases %></span><% end %></li>
        <% end %>
      </ul>
    <% end %>
<% else %>
  <ul>
    <% patterns_by_section[section].each do |pattern| %>
      <li><%= link_to pattern.data.title, pattern.url %><% if pattern.data.aliases %> <span class="aliases">&mdash; also known as <%= list_as_sentence pattern.data.aliases %></span><% end %></li>
    <% end %>
  </ul>
<% end
end %>


