---
layout: govuk_design_patterns
productName: Design Patterns
---


<main id="content" role="main">
<br>

<h1 class='heading-large'>Index of design patterns</h1>

<table class="patterns-table">
	<tr>
		<th>Title</th>
		<th>Aliases</th>
		<th>Section</th>
		<th>Priority</th>
		<th>Status</th>
		<th>Department</th>
	</tr>
<%

pattern_root = "/v9/govuk_design_patterns/patterns/" 

# Get all the patterns
# Sort them by title

sitemap.resources													
	.select { |r|		
    	r.data.section && 								
		r.url.start_with?(pattern_root)											
	}
	.sort_by { |r| r.data.title }				
	.each do |res| 
%>	 
	<tr>
		<td><%= link_to res.data.title, res.url %></td>
		<td><%= res.data.aliases %></td>
		<td><%= res.data.section %></td>
		<td><%= res.data.priority %></td>
		<td><%= res.data.status %></td>
		<td><%= res.data.department %></td>
	</tr>
<% end %>
</table>

</main>