<div class="mobile-nav">
  <ul class="mobile-nav__list">
    <li class="mobile-nav__section">
      <a href="/design-patterns/patterns">About</a>
    </li>
    <% sections.each do |section_slug, section_title| %>
      <li id="<%= section_slug %>" class="mobile-nav__section<% if current_section == section_slug %> mobile-nav__section--is-open<% end %>">
        <a href="#<%= section_slug %>"><%= section_title %></a>
        <ul>
        <% if section_uses_themes?(section_slug) %>
          <% themes_for_section(section_slug).each do |theme_slug, theme_title| %>
            <li class="mobile-nav__theme">
              <div class="mobile-nav__theme-header"><%= theme_title %></div>
              <ul>
                <% patterns_in_theme(section_slug, theme_slug).each do |pattern| %>
                  <li class="mobile-nav__leaf<%= current_page.path == pattern.path ? ' current-page' : '' %>">
                    <%= link_to pattern.data.title, pattern.url %>
                  </li>
                <% end %>
              </ul>
            </li>
          <% end %>
        <% else %>
          <% patterns_in_section(section_slug).each do |pattern| %>
            <li class="mobile-nav__leaf<%= current_page.path == pattern.path ? ' current-page' : '' %>">
              <%= link_to pattern.data.title, pattern.url %>
            </li>
          <% end %>
        <% end %>
        </ul>
      </li>
    <% end %>
  </ul>
</div>
