<% 
pattern_root = "/design-patterns/patterns/" 
section_order = ["Styles", "Components", "Page templates", "User tasks", "Services"]

# Filter out backlog patterns
# Group patterns into sections
patterns_by_section = sitemap.resources
  .select { |r| 
    r.data.section && 
    # r.data.status != "Backlog" &&
    r.url.start_with?(pattern_root)
  }
  .group_by { |r| r.data.section }

# Create a list of used sections in the order defined in section_order. Any
# sections that are not listed in section_order will appear last. Any sections
# in section_order that are not actually used will not be included.
sections_in_order = patterns_by_section.keys.sort_by do |r|
  section_order.index(r) || Float::INFINITY
end
%>



<nav id="toc" class="js-toc-list toc__list" aria-labelledby="toc-heading">
  <h3 class="nav-group">GOV.UK design patterns</h3>

  <ul>
  <%
  # Loop over the sorted list of sections, and lookup the patterns for that
  # section from the original list
  sections_in_order.each do |section|
  %>
    <li<% if (current_page.data.section == section) %> class="current-section"<% end %>>
      <a class="section-heading" href="#<%= section %>"><%= section %></a>

  <%

    patterns_by_theme = patterns_by_section[section].group_by { |r| r.data.theme  || "Other"}
    themes = patterns_by_theme.keys.sort

    themes.each do |theme|
  %>

      <ul class="section">
        <% if theme != "Other" %>
        <li class="theme-heading"><%= theme %></li>
        <% end %>
        <% patterns_by_theme[theme].sort_by{|res| res.data.title}.each do |res| %>
          <li class="<% if (current_page.path == res.path) %>current-page <% end %>status-<%= res.data.status.downcase.tr(" ", "-") %>"><%= link_to res.data.title, res.url %></li>
        <% end %>
      </ul>

  <% end %>
      
    </li>

  <% end %>
  <ul>

  <h3 class="nav-group">Other design patterns</h3>

  <ul>
    <li<% if (current_page.path == "design-patterns/departmental_patterns/index.html") %> class="current-page"<% end %>><a href="/design-patterns/departmental_patterns">Departmental  patterns</a></li>
    <li<% if (current_page.path == "") %> class="current-page"<% end %>><a href="#">Campaign sites</a></li>
  </ul>

  <h3 class="nav-group">Patterns team</h3>

  <ul>
    <li<% if (current_page.path == "design-patterns/backlog/index.html") %> class="current-page"<% end %>><a href="/design-patterns/backlog">Backlog</a></li>
    <!--
    <li<% if (current_page.path == "design-patterns/statistics/index.html") %> class="current-page"<% end %>><a href="/design-patterns/statistics">Statistics</a></li>
  -->
    <li<% if (current_page.path == "") %> class="current-page"<% end %>><a href="#">Contact</a></li>
  </ul>

</nav>
